<div class="article-preview">
  <article-meta [article]="article">
    <favorite-button
      [article]="article"
      (onToggle)="onToggleFavorite($event)"
      class="pull-xs-right">
      {{article.favoritesCount}}
    </favorite-button>
  </article-meta>

  <ng-template [ngIf]="article.description.length != 0">
    <h1><a href="{{article.description}}"> {{ article.title }}</a></h1>
    <p><a href="{{article.description}}"> {{ article.description }}</a><p>
  </ng-template>
  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <ng-template [ngIf]="article.description.length == 0">
    <h1>{{ article.title }}</h1>
    </ng-template>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList">
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
