<div class="article-preview">
  <article-meta [article]="article">
    <downvote-button
      [article]="article"
      (onToggle)="onToggleDownvote($event)"
      class="pull-xs-right">
      {{article.downvotesCount}}
    </downvote-button>
    <favorite-button
      [article]="article"
      (onToggle)="onToggleFavorite($event)"
      class="pull-xs-right">
      {{article.favoritesCount}}
    </favorite-button>
  </article-meta>

  <ng-template [ngIf]="article.description.length != 0">
    <h3 class="link-list-item"><a href="{{article.description}}"> {{ article.title }}</a></h3>
    <p><a class="link-list-item-description" href="{{article.description}}"> {{ article.description }}</a><p>
  </ng-template>
  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <ng-template [ngIf]="article.description.length == 0">
    <h3 class="link-list-item">{{ article.title }}</h3>
    </ng-template>
    <span> comments and more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill"
        *ngFor="let tag of article.tagList">
        {{ tag }}
      </li>
    </ul>
  </a>
</div>
